<%title 'Announcement'%>
<div class="col-md-12 bg-color-white">
<h4 class="title-blue">Title: <%= @announcement.title %></h4>

<p> <%= @announcement.message %> </p>


<%#= link_to 'Edit', edit_announcement_path(@announcement), :class=>"fa fa-pencil-square-o btn btn-primary" %> 
<a href="javascript:history.back()" class="fa fa-arrow-left btn btn-primary"> Back</a>
</div>