<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "https://www.w3.org/TR/html4/strict.dtd">
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<style type="text/css">
body,td,div,p,a,input {font-family: arial, sans-serif;}
</style>

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<style type="text/css">
body, td {font-size:13px} 
a:link, a:active {color:#1155CC; text-decoration:none} 
a:hover {text-decoration:underline; cursor: pointer} 
a:visited{color:##6611CC} 
img{border:0px} 
pre { white-space: pre; white-space: -moz-pre-wrap; white-space: -o-pre-wrap; white-space: pre-wrap; word-wrap: break-word; max-width: 800px; overflow: auto;} 
.logo { left: -7px; position: relative; }
</style>
</head>

<body>

<div class="bodycontainer">
<div class="maincontent">
	<table width="100%" cellpadding="0" cellspacing="0" border="0" class="message">
	  <tbody>
	    <tr>
	    	<td colspan="2"><table width="100%" cellpadding="12" cellspacing="0" border="0">
	    		<tbody><tr><td><div style="overflow: hidden;"><font size="-1">
                <div style="margin:0px">
                <table border="0" cellpadding="40" cellspacing="0" width="100%">
                <tbody>
<tr>
<td bgcolor="#EEEEEE">
<div align="center">
<table border="0" cellpadding="0" cellspacing="0" width="600">
<tbody>
<tr>
<td height="62" style="border-radius:3px 3px 0px 0px;background:#3A6F9F;padding-left:50px; color:#fff; font-size: 20px;">Travel Tripper HRM Tool <img src="http://traveltripperhrm.herokuapp.com/images/ttlogo1.jpg" style="height:25px; width:25px; padding-right: 20px; float: right;" alt="logo"></td>
</tr>
<tr>
<td>
<table border="0" cellpadding="0px" cellspacing="0px" width="600">
<tbody>
<tr>
<td bgcolor="#FFFFFF" style="border-radius:0px 0px 3px 3px;color:#777777;font-family:Helvetica,Arial,sans-serif;font-size:16px;line-height:25px;padding:30px 50px 35px 50px"><span style="color:#222222;font-family:Helvetica,Arial,sans-serif;font-size:32px">Welcome!</span><br><br>Dear <%=@employee.fullname%>,<br><br>Your account has been successfully setup. Please use the following information to access the HRM tool
<br>

<br>
<a href="http://traveltripperhrm.herokuapp.com/login" style="color:#000;">Click here to Login</a>  <br><br><span style="color:#222222;font-family:Helvetica,Arial,sans-serif;font-size:18px">Your account information:</span><br>Email: <a style="color:#888888;text-decoration:none"><%=@employee.email%></a><br>Password:<%=@password%><br><br>Thanks,<br>
HRM Team,<br>Travel Tripper</td>
</tr>
</tbody>
</table>
</td> 
</tr>

</tbody>
</table>
</div>
</td>
</tr>
</tbody>
</table>
</div>
</font></div></td></tr></tbody></table></td></tr></tbody></table></div></div></body></html>