<%title "Employee Birthdays"%>
<script>
    $(document).ready(function() {
        $('#calendar').fullCalendar({
        	header: {
        	left: 'prev,next today',
        	center: 'title'
      		},
            selectable: true,
            selectHelper: true,
            dateformat: 'MM-dd',
            eventColor: '#FFF',
      		events: '/birthdays.json',
            eventClick:  function(event, jsEvent, view) {
            $('#modalTitle').html("Happy Birthday!!!");
            $('#modalBody .cal-name').html(event.fullname);
            $('#modalBody .cal-dept').html(event.department);
            $('#modalBody .cal-role').html(event.role);
            $('#calendarModal').modal();
            }
            
            //editable: true,
            //eventLimit: true, // allow "more" link when too many events
        });
    });
</script>

<div id='calendar'></div>

<div id="calendarModal" class="modal fade">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">close</span></button>
            <span id="modalTitle" class="modal-title"></span>            
        </div>
        <div id="modalBody" class="modal-body col-md-8">
            <p>Name: <span class="cal-name"></span></p>
            <p>Department: <span class="cal-dept"></span></p>
            <p>Role: <span class="cal-role"></span></p>
        </div>
        <div class="col-md-2">
        <img src="images/birthday-cake.png" width="100px" height="100px">
        </div>
        <div class="modal-footer">
            <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
        </div>
    </div>
</div>
</div>




