<% title "Edit Employee" %>

<div class="row">
<div class="col-md-12">
<%= link_to 'Back', employees_path, :class=>"fa fa-arrow-left btn btn-primary bottom-margin-10 link-float-right" %>
</div>
</div>

<%= render 'form' %>

<%#= link_to 'Back', employees_path %>


