<%title "Events"%>
<script src="https://cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<link rel="stylesheet" media="all" href="https://cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />

<script>
$(document).ready(function(){
initialize_calendar();
date_range_picker();
});
</script>

<div class='calendar'></div>

<div id='remote_container'></div>


<div id="calendarModal" class="modal fade">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">close</span></button>
            <span id="modalTitle" class="modal-title"></span>            
        </div>
        <div id="modalBody" class="modal-body col-md-8">
            <p>Name: <span class="cal-name"></span></p>
            <p>Department: <span class="cal-dept"></span></p>
            <p>Role: <span class="cal-role"></span></p>
        </div>
        <div class="col-md-2">
        <img src="images/birthday-cake.png" width="100px" height="100px">
        </div>
        <div class="modal-footer">
            <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
        </div>
    </div>
</div>
</div>


<div id="EventModal" class="modal fade">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">close</span></button>
            <span id="modalTitle" class="modal-title"></span>            
        </div>
        <div id="modalBody" class="modal-body col-md-8">            
            <p>Title: <span class="event-title"></span></p>
            <p>From: <span class="event-from"></span></p>
            <p>To: <span class="event-to"></span></p>
        </div>
        <div class="col-md-2">
        <img src="images/event.jpg" width="100px" height="100px">
        </div>
        <div class="modal-footer">
            <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
        </div>
    </div>
</div>
</div>