<% if can? :create, Cpp %>
    
    <div class="col-md-10">
        <h4 class="text-center"><strong style="color:#594857;">CAREER PERFORMANCE PROFILE (CPP)</strong></h4>
    </div>
    <div class="col-md-2">
            <%= link_to ' Add CPP', new_cpp_path, class:"fa fa-plus btn btn-primary margin-top-20 link-float-right"%>
    </div>
    
<%else%>
    <div class="col-md-12">
        <h4 class="text-center"><strong style="color:#594857;">CAREER PERFORMANCE PROFILE (CPP)</strong></h4>
    </div>
<%end%>


<div class="col-md-12 bg-color-white" id="cpp">
<h5>INTRODUCTION</h5>
<p>A career performance profile is Travel Tripper&rsquo;s blueprint for performance excellence. CPPs work in conjunction with values and cultural belief to guide performance management &ndash; providing real evidence of what excellence looks like for a role, and in doing so helps managers and employees identify areas of talent development and coaching to realize their desired career path.</p>
<!-- <p>&nbsp;</p> -->
<div style="margin-bottom:20px;"></div>
<h5>Key Objectives:</h5>
<div style="margin-bottom:20px;"></div>
<div class="key_objectives">
<h5>Delivery Excellence : </h5>
<ul>
    <li>
        <p><strong>Leadership</strong> - Be a role model, a great team member and transform your career (and careers of others around you)</p>
    </li>
    <li>
        <p><strong>Craftsmanship</strong> - Take the pride in quality of your work, when available use existing solutions, and strive to write elegant software and inspire your team to do the same.</p>
    </li>
    <li>
        <p><strong>Execution</strong> - Collaborate, Balance, commit &amp; Get Results.</p>
    </li>
</ul>
<div style="margin-bottom:20px;"></div>
<h5>Continuous Improvement/Skills Enhancement</h5>
<div style="margin-bottom:20px;"></div>
<h5>Personal/Peer Development Skills</h5>
<ul>
    <li>
        <strong>Culture</strong>
    </li>
    <li>
        <strong>Communication</strong>
    </li>
    <li>
        <strong>Integrity</strong>
    </li>
    <li>
        <strong>Attitude</strong>
    </li>
    <li>
        <strong>Team player, Motivator</strong>
    </li>
</ul>
</div>

<img src="/images/cpp.jpg" class="img-responsive img-center">
</div>



