
$('#error_explanation').empty();
<% if @leave.errors.blank? %>
  $('#leave-modal').modal('hide');
  $('table.waiting-for-approval tbody').prepend('<%= j render "leave_row", leave: @leave %>');
  $('#leave-notice').html("<p class='alert alert-notice'>You have applied leave successfully and an e-mail will be sent to HR and Manager. Waiting for approval.</p>");
  //$('#leave_request_pending').html("99");  
<% else %>

  // TODO: show the errors in the UI
  $('#error_explanation').append('<h5 class="required"><%= j pluralize(@leave.errors.count, "error") %> prohibited this leave from being saved</h5>');
  
  <% @leave.errors.full_messages.each do |message| %>       
    $('#error_explanation').append('<p class="required"><%= j message%></p>');
  <% end %>
<% end %>


