<%title 'Edit Payroll'%>
<div class="row">
	<div class="col-md-6">
		<div class="panel panel-cblue">
			<div class="panel-body">		
				<%= render 'form' %>
			</div>
		</div>
	</div>
</div>

<%= link_to ' Show', @payroll, :class=>'fa fa-eye btn btn-primary' %> |
<%= link_to ' Back', payrolls_path, :class=>'fa fa-arrow-left btn btn-primary' %>
