<% title 'Editing Department'%>
<div class="row">
	<div class="col-md-6">
		<div class="panel panel-cblue">
			<div class="panel-body">		
				<%= render 'form' %>
			</div>
		</div>
	</div>
</div>
<%= link_to ' Show', @department, :class=>"fa fa-eye btn btn-primary" %> |
<%= link_to ' Back', departments_path, :class=>"fa fa-arrow-left btn btn-primary" %>
