<h1>Editing Pollquestion</h1>

<div class="panel panel-cblue">
	<div class="panel-body">		
		<%= render 'form' %>
	</div>
</div>

<%= link_to 'Show', @pollquestion %> |
<%= link_to 'Back', pollquestions_path %>
