<script src="https://cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<link rel="stylesheet" media="all" href="https://cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />

<br><br>
<p style="margin-left:10px;"><input type="text" name="daterange" value="01/01/2015 1:30 PM - 01/01/2015 2:00 PM" /></p>
<br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br>
force some scrolling

<script type="text/javascript">
	$(function() {
    $('input[name="daterange"]').daterangepicker({
        timePicker: true,
        timePickerIncrement: 30,
        locale: {
            format: 'MM/DD/YYYY h:mm A'
        }
    });
    
    $(window).scroll(function() {
    	if ($('input[name="daterange"]').length) {
      		$('input[name="daterange"]').daterangepicker("close");
      }
    });
});
</script>