<p id="notice"><%= notice %></p>
<%title 'Employee Role'%>
<h2>Role: <%=@role.name%></h2>

<%= link_to 'Edit', edit_role_path(@role), :class=>"btn btn-default" %> |
<%= link_to 'Back', roles_path, :class=>"btn btn-default" %>
