/*@import url('https://fonts.googleapis.com/css?family=Lato:100,200,300,400,700,900&subset=latin-ext');*/

body {
   min-height: 600px;
   margin-bottom: 100px;
   clear: both;
   background: #ebebeb;
}

 body #hrm_dashboard {
	background: #ebebeb;
	/* font-family: 'Lato', sans-serif; */
	color: #000000 !important;
}


.navbar-default {
    background-color: #0d2c40;
   
}

.ttlogo {
    max-height: 77px;
    max-width: 190px;
    padding-top: 14px;
}



.menu {
	margin-top:50px;
	width:100%;
	background-color: #00a8c5;
	font-size:16px;
	font-weight:300;
	min-height:50px;
	height:auto;
}
.menu ul{
	margin:0px;
	padding:0px 0px;
	list-style:none;
	}
.menu ul li{
	float:left;
	padding:0px 0px;
	/* background:#0092b3 url(/images/menu-border.png) no-repeat right; */
	background-size:2px;
	}
	
	.menu ul li :nth-last-child(1){
		background-image:none;
		}

.menu .fa{ padding-right:10px;}
 .menu a{ 
	 color:#FFF; 
	 padding:14px 25px; 
	 display:block; 
	 text-decoration:none;
	 
  -o-transition:color .2s ease-out, background 1s ease-in;
  -ms-transition:color .2s ease-out, background 1s ease-in;
  -moz-transition:color .2s ease-out, background 1s ease-in;
  -webkit-transition:color .2s ease-out, background 1s ease-in;
	 }
.menu a:hover{ 
	background:#056985;
	 }
	
 
 #bs-example-navbar-collapse-1 .active{ 
	 background:#056985!important;
	 }

	

#bs-example-navbar-collapse-1 .nav>li>a {
    position: relative;
    display: block;
    padding: 14px 33px 14px 10px;
	color:#FFF;
	}


.notification{
	background:url(/images/notification.png) no-repeat left bottom;
	font-size:12px;
	font-weight:300;
	background-size:30px;
	height:40px;
	width:20px;
	}
.userName{
	background:url(/images/user.png) no-repeat right;
	font-size:12px;
	font-weight:300;
	background-size:30px;
	}

.support {
	background:url(/images/support.png) no-repeat right;
	font-size:12px;
	font-weight:300;
	background-size:30px;
}
.logout{
background:url(/images/logout.png) no-repeat right;
	font-size:12px;
	font-weight:300;
	background-size:30px;
}


.badge {
	padding: 3px 3px;
	background-color: #ff0000;
	right:7px;
    top: 6px;
	position:absolute;
}


.search{
	width:24%; float:right; background:#00a8c5;}

#bs-example-navbar-collapse-1 .form-control{
	
	border:0px solid #FFF;
	background:none;
	width:100%;
	padding-top:20px;
	color:#FFF;
	background:url(/images/search.png) no-repeat  right 10px; 
	background-size:24px;
	}
.form-control::-webkit-input-placeholder { color: white; }
.form-control:-moz-placeholder { color: white; }
.form-control::-moz-placeholder { color: white; }
.form-control:-ms-input-placeholder { color: white; }





/*Content css*/
h4{
	color: #0d2c40;
	font-size: 20px;
	font-weight:600;
	margin:20px 0px;
	}
	


#hrm_dashboard .btn-primary{
	color:#FFF;
    background-color: #0092b3;
    border: 1px solid #0092b3;
	padding:5px 10px;
	margin:10px 0px;
	font-weight:400;
	font:14px;
	}
	
	
	
	
	/*Myteam*/
	.myteam{
		min-height:350px;
		height: auto;
		/* overflow-y:scroll; */ 
	}
	.myteam1{
		/*height:350px;
		overflow-y:scroll; */
		min-height: 170px;
    	max-height: 350px;
    	overflow-y: auto;
	}
		
	.myteam ul, .myteam1 ul{ list-style:none; margin:5px; padding:0px; }
	.myteam ul li, .myteam1 ul li{display:inline-block; margin:5px; text-align:center;}
	.myteam ul li img, .myteam1 ul li img{ width:60px; height: 60px;}
	.myteam ul li h6, .myteam1 ul li h6{color:#72bfd4; text-transform:uppercase; font-size:10px;}
	.myteam ul li p, .myteam1 ul li p{color:#000; font-weight:300; font-size:12px; text-transform:capitalize;}	
	
/*Payroll*/
.payroll{
	color:#0d2c40;
	
	}
.date{
	font-weight:300;
	font-size:30px;
	color:#4e9d00;
	background:url(/images/cash.jpg) no-repeat right 21px;
	background-size:40px;
	padding-top: 19px;
	padding-bottom: 19px;
	}


/*leave-management*/
.leave-management ul {list-style:none; margin:0px; padding:0px;}
.leave-management ul li{     
	display: inline-block;
    margin: 0px;
    border-right: 1px solid #ccc;
    /*padding: 7px 18px 7px 10px; */
    padding: 7px 10px 7px 10px;
    vertical-align: top;
    height: 100px;
	font-size:15px;
	font-weight:200;
	}
	
	.leave-management ul li:nth-last-child(1)
	
	{ border-right: 0px solid #ccc;}
	
	.leave-management ul li h3{
		font-weight:600;
		font-size:30px;
		color:#0092b3;
		margin:0px;
		}
		
		.req{
			color:#f37200!important;
			}
			
/*Announcements*/

.Announcements	{
	
	}
.Announcements table{
	width: 94%;
    margin: 3% 3% 1% 3%; 
	}
	
	
.Announcements table tr{
	border-bottom:1px solid #ccc;
	padding:10px
	}
	
	   .Announcements table tr td{
		   
    		vertical-align: top;
	   }
	   
	    .Announcements table tr td:first-of-type {
          vertical-align: top;
          width: 100px;
		  padding-top:3px;
		  height: 80px;
		  font-weight:100;
		  font-size:16px
        }
	
	.Announcements table tr td p{
		word-wrap:break-word;
		font-size:14px;
		} 
	
	.text-primary	{
		 font-weight:300;
		font-size:16px;
		}
	
			

/*Events*/

.events >.col-md-12{
	padding-right:0px;
    padding-left: 0px;
	padding-bottom:0px;
	margin-bottom:10px;
	padding-top: 10px;
	} 
	
.events h5{
	font-weight:300;
	font-size:23px;
	padding:0px 0px 10px 0px;
	margin:0px
	}
.events	 span{
	font-weight:200; 
	font-size:16px;
	padding:20px 0px 3px 0px;
	}	
	
.events img{width:100%;}

.events	 p{
	font-weight:300; 
	font-size:13px;
	padding:10px;
	}	

#footer {
    /*position: fixed;*/
	/*background-color: white; 
	background-color: #0D2C40;
	color: #fff;
    bottom: 0;
    width: 100%;
	height: 33px;*/
	
}

#footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:50px;
   width:100%;
   background:#0D2C40;
   color: #fff;
   padding: 6px 20px;
   border-top: 10px solid #EBEBEB;
}

/* IE 6 */
* html #footer {
   position:absolute;
   top:expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');
}


.footerText {
	text-align: center;
	/*padding: 8px; */
}



.MyTeam {
    width: 555px;
    padding: 20px;
}

.line{
	border-left: solid 1px #ffffff;
    padding: 4px;
}


.nullPadding {
	padding-right: 0px;
	padding-left: 0px;
}

.align-top {
	vertical-align: top;
}

.bg-color-white {
	background-color : #fff;
	padding-top:10px;
	padding-bottom:10px;
}

.top-buffer {
	margin-top: 20px;
}

a:focus, a:hover{
	text-decoration:none;
}

#hrm_dashboard .span-title-color{
	color: #20272D;
    font-weight: 300;
}


#employee_details{
	display: none;
}

#hrm_dashboard .panel.panel-cblue {
    border-color: #0092B3;
}

#hrm_dashboard .panel.panel-cblue > .panel-heading {
    color: #FFFFFF;
    background: #0092B3;
    border-color: #0092B3 !important;
}

#hrm_dashboard .panel > .panel-heading {
    font-size: 18px;
    padding: 7px 15px;
    border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
    border-color: #e5e5e5 !important;
}

#hrm_dashboard .panel {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    border: 5px solid #e5e5e5;
    border-radius: 0 !important;
    box-shadow: none !important;
}

#hrm_dashboard .panel-heading {
    background: #0092B3;
    color: #fff;
}

#hrm_dashboard .panel-body a {
	color:#0092B3;
}

#hrm_dashboard th, #hrm_dashboard td, #hrm_dashboard a {
    /*color: #0092B3; */
}

.hrm_event_images{
	width: 100%;
}

.padding-bottom-50{
	padding-bottom: 50px;
}

.Announcements tr:last-child {
    border-bottom: none;
}

#hrm_dashboard .text-primary {
    /* color: #428bca !important; */
    color: #72bfd4 !important;
    font-weight: 400;
}

.Announcements a {
	color: #72bfd4 !important;
}


#hrm_dashboard td{
	color: #000000 !important;
}

.profileImgHeading {
    text-transform: uppercase;
    font-size: 17px;
}

.profileImgEmail {
    font-size: 16px;
    margin-top: 20px;
}

.profileImgText {
    margin-top: 20px;
    font-weight: bold;
}

.teammembers_img{
	
    padding: 10px;
    border-top-right-radius: 3em;
    border-top-left-radius: 3em;
    /* width: 110px; */
    /* width: 147px; */
    width: 178px;
    /*height: 160px; */
    height: 130px;
    float: left;
}

.teammembers_img.active h6{
	color: #fff;
}

.teammembers_img:hover, .teammembers_img.active{
	background: #0092B5;    
}



li.teammembers_img:hover p, li.teammembers_img.active p{
	color: #fff !important; 
}


ul.team_list li a {
  display: block;
}


.company_email, #emp_phone, #emp_skypeid{
	color: #1298B9;
}

.custom_bluecolor{
	color: #0092b3;
}


.waiting-for-approval th, .waiting-for-approval td, .applied-recently th, .applied-recently td{
	color: #000;
} 

.table-color th, .table-color td{
	color: #000;
}


.panel-heading-style{
    padding: 10px 20px;
    font-size: 20px;
    border-bottom: 1px solid #ccc9c9;
}

.width-50p{
	width: 50%;
	float: left;
	height: 50px;
}

.btn-cblue{
	background: #0092B5;
	color: #fff;
}

.modal-content{
	border-radius: 1em !important;
}

#hrm_dashboard .modal,  #hrm_dashboard .modal-dialog, #hrm_dashboard .modal-content{
	border-radius: 1em !important;
}

.form-height40{
	height: 40px;
}

#leave-modal .form-control:focus{	
	border-color: #FF726F !important;
    border-left: 5px solid #FF726F !important;
}

.btn-cgray{
	background: #DBDBDB;	
}


.table-white-background{
	background: #fff;	
}


.border-right-gray{
	border-right: 2px solid #EBEBEB;
}

.padding-0{
	padding: 0px;
}

.margin-0{
	margin:0px;
}

.h4_custom_style{
	color: #6A7984;
    font-weight: 300;
}


input#dt1, input#dt2{
	 background: url(/images/calendaricon.png) no-repeat scroll 227px 2px;
    background-size: 33px;
}

.modal-dialog, .modal-content{
	border-radius: 1em !important;
}

.btn-border-left-radius{
border-bottom-left-radius: 1em !important;		
}

.btn-border-right-radius{
border-bottom-right-radius: 1em !important;		
}

@media (min-width: 768px)
{
	.modal-dialog 
	{    
    	margin: 75px auto;
	}
}


.navbar-collapse{
	padding-left: 0;
	padding-right: 0;
}

i.fa{
	font-size: 20px;
}

.padding-left-0{
	padding-left: 0;
}

.event-background-color{
	background: #fff;
}

.import_employees input[type=file] {
    display: inline;
    width: 200px;
}

.import_employees{
	float: left;
}

.form-top-bottom-padding{
	padding-bottom: 15px;
	padding-top: 15px;
}

.table-align-center th, .table-align-center td{
	text-align:center;
}

.text-align-right{
	text-align: right;
}

.green-color{
	color: #1F9B00 !important;
	font-weight: 600;
}

.red-color{
	color: #F10000 !important;
	font-weight: 600;
}


.margin-top-bottom-5{
	margin-top: 5px;
    margin-bottom: 5px;
}

.event-title-color{
	color: #00A8C5;
}


.team-icons .fa{
    color: #00A8C5;
    font-size: 15px;
    padding-right: 4px;
}

.modal-title-color{
	color: #fff;
}

.text-color-black{
	color:#000;
}

img.event-image{
	width: 100%;
	height: 250px;
}

.title-blue{
color: #72bfd4;	
}

.announcement-style{
	font-size:18px;
	color: #72bfd4;
}

.viewteam{
	padding: 10px;
    border-top-right-radius: 3em;
    border-top-left-radius: 3em;
    width: 133px;
    height: 130px;
    float: left;
}



.change_picture, #employee_profile_picture {/*display: none;*/}
.profile_picture_upload{
	display: none !important;
}
.change_picture >.fa{ font-size: 14px; color: #FFF;  }

.upload_picture:hover .change_picture {width: 30px; height:30px;  position: absolute; left: 20px; bottom: 60px; display: block; text-align: right; 
background:#0092b3; border-radius: 50%; padding:6px 10px;
 }
.changeange_picture b {
	-o-transition:background .2s ease-out, background 1s ease-in;
  -ms-transition:background .2s ease-out, background 1s ease-in;
  -moz-transition:background .2s ease-out, background 1s ease-in;
  -webkit-transition:background .2s ease-out, background 1s ease-in;
	font-size: 1.5em; font-weight: normal; padding: 8px 12px; border-radius: 5px; background: #00A8C5; color: #fff; font-family: sans-serif;}
.change_picture b:hover {background: #000;}