.form-position-from-top{    
    position: fixed;
    top: 50%;
    left: 40%;
    width: 50em;
    height: 18em;
    margin-top: -9em;
    margin-left: -15em;
}

.form-background-image{
	background-image: url("/images/bg/1.jpg");
	height: 100%;
}
