.form-position-from-top{    
    position: fixed;
    top: 42%;
    left: 40%;
    width: 46em;
    height: 18em;
    margin-top: -9em;
    margin-left: -15em;
}

.form-background-image{
	background-image: url("/images/bg/1.jpg");
	height: 100%;
}


.panel.panel-cblue {
    border-color: #3A6F9F;
}

.panel.panel-cblue > .panel-heading {
    color: #FFFFFF;
    background: #3A6F9F;
    border-color: #3A6F9F !important;
}

.add-edit-links{
    float: right;
    color: #fff;
}


th, td, a, .page-header, label{
    color: #3A6F9F;
}

input, textarea, select{
    border-color: #66afe9 !important;
}

.link-color{
    color: #3A6F9F !important;
}

.dropdown.show-options{
    float: right;
    margin-bottom: 15px;
}

.dropdown.show-options a{
    color: #3A6F9F;
}

.ui-widget-header, .ui-widget-content .ui-state-default 
{
    background: #3A6F9F;
}

.fc-view.fc-view-month.fc-grid{
    position: static !important;
}

.sidebar-collapse.menu-scroll{
    overflow: visible !important;
}