<nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
          <img class="ttlogo" align="left" src="https://www.traveltripper.io/images/logo-tt-text.svg" />
        </div>
		
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
			<li><a  href="#" class="notification"><span class="badge">19</span></a></li>
            <li><a  href="#" class="userName"><%=current_employee.first_name%></a></li>∂
            <li><a  href="#" class="support">Support</a></li>
			<li><a  href="/logout" class="logout">Logout</a></li>
          </ul>
		</div>
      </div>
	  <!-- <div class="container" id="secondaryHeader">
			  <ul class="nav navbar-nav">
				<li><span class="userName">Dashboard</span><span class="glyphicon glyphicon-cog"></span></li>
				<li><span class="support">Team</span><span class="glyphicon glyphicon-briefcase"></span></li>
				<li><span class="logout">Leave Management</span><span class="glyphicon glyphicon-log-out"></span></li>
				<li><span class="logout">Profile</span><span class="glyphicon glyphicon-log-out"></span></li>
				<li><span class="logout">Event Management</span><span class="glyphicon glyphicon-log-out"></span></li>
				<li><span class="logout">payroll</span><span class="glyphicon glyphicon-log-out"></span></li>
			  </ul>
		  </div> -->
</nav>