<h4>Upcoming Events</h4>
<div class="col-md-12 bg-color-white">
	<span class="span-title-color">Dussehra 2016</span>
	<h5>Tuesday, October 11</h5>            
	<img src="/images/event1.jpg" alt=""/>
	<p>Happy Dussehra to all of you. Hope this festive season brings lots of joy to all of you.</p>
</div>

<br/>

<div class="col-md-12 bg-color-white">
	<span class="span-title-color">Team Lunch 2016</span>
	<h5>Tuesday, October 11</h5>
 	<img src="/images/event2.jpg" alt=""/>
 	<p>Happy Dussehra to all of you. Hope this festive season brings lots of joy to all of you.</p>
</div>